In [8]:
import pandas as pd

In [99]:
year = 2020

afc = pd.read_csv(str(year)+'/AFC.csv')
afc = afc[~afc['Tm'].str.contains('AFC')]
afc.insert(2, 'Conference', 'AFC')
afc.insert(4, 'Division', ['East']*4 + ['North']*4 + ['South']*4 + ['West']*4)
afc = afc[['Tm', 'Conference', 'Division']].rename(columns={'Tm': 'Current_Name'})

nfc = pd.read_csv(str(year)+'/NFC.csv')
nfc = nfc[~nfc['Tm'].str.contains('NFC')]
nfc.insert(2, 'Conference', 'NFC')
nfc.insert(4, 'Division', ['East']*4 + ['North']*4 + ['South']*4 + ['West']*4)
nfc = nfc[['Tm', 'Conference', 'Division']].rename(columns={'Tm': 'Current_Name'})

teams = pd.concat([afc, nfc]).reset_index()[['Current_Name', 'Conference', 'Division']]
teams['Current_Name'] = teams['Current_Name'].apply(lambda s: s.rstrip('*+ '))
teams.insert(0, 'team_id', teams.index)

# This one probably won't be as useful
index_to_team = dict(zip(teams.index, teams['Current_Name']))

# Useful Mapping
team_to_index = dict(zip(teams['Current_Name'], teams.index))
team_to_index.update({"Washington Redskins": 16, "Oakland Raiders": 13, "San Diego Chargers": 15, "St. Louis Rams": 29})

print(teams)
print(index_to_team)
print(team_to_index)

    team_id              Current_Name Conference Division
0         0             Buffalo Bills        AFC     East
1         1            Miami Dolphins        AFC     East
2         2      New England Patriots        AFC     East
3         3             New York Jets        AFC     East
4         4       Pittsburgh Steelers        AFC    North
5         5          Cleveland Browns        AFC    North
6         6          Baltimore Ravens        AFC    North
7         7        Cincinnati Bengals        AFC    North
8         8          Tennessee Titans        AFC    South
9         9        Indianapolis Colts        AFC    South
10       10            Houston Texans        AFC    South
11       11      Jacksonville Jaguars        AFC    South
12       12        Kansas City Chiefs        AFC     West
13       13         Las Vegas Raiders        AFC     West
14       14            Denver Broncos        AFC     West
15       15      Los Angeles Chargers        AFC     West
16       16  Washington Football Team        NFC     East
17       17           New York Giants        NFC     East
18       18       Philadelphia Eagles        NFC     East
19       19            Dallas Cowboys        NFC     East
20       20         Green Bay Packers        NFC    North
21       21         Minnesota Vikings        NFC    North
22       22             Chicago Bears        NFC    North
23       23             Detroit Lions        NFC    North
24       24        New Orleans Saints        NFC    South
25       25      Tampa Bay Buccaneers        NFC    South
26       26           Atlanta Falcons        NFC    South
27       27         Carolina Panthers        NFC    South
28       28          Seattle Seahawks        NFC     West
29       29          Los Angeles Rams        NFC     West
30       30         Arizona Cardinals        NFC     West
31       31       San Francisco 49ers        NFC     West
{0: 'Buffalo Bills', 1: 'Miami Dolphins', 2: 'New England Patriots', 3: 'New York Jets', 4: 'Pittsburgh Steelers', 5: 'Cleveland Browns', 6: 'Baltimore Ravens', 7: 'Cincinnati Bengals', 8: 'Tennessee Titans', 9: 'Indianapolis Colts', 10: 'Houston Texans', 11: 'Jacksonville Jaguars', 12: 'Kansas City Chiefs', 13: 'Las Vegas Raiders', 14: 'Denver Broncos', 15: 'Los Angeles Chargers', 16: 'Washington Football Team', 17: 'New York Giants', 18: 'Philadelphia Eagles', 19: 'Dallas Cowboys', 20: 'Green Bay Packers', 21: 'Minnesota Vikings', 22: 'Chicago Bears', 23: 'Detroit Lions', 24: 'New Orleans Saints', 25: 'Tampa Bay Buccaneers', 26: 'Atlanta Falcons', 27: 'Carolina Panthers', 28: 'Seattle Seahawks', 29: 'Los Angeles Rams', 30: 'Arizona Cardinals', 31: 'San Francisco 49ers'}
{'Buffalo Bills': 0, 'Miami Dolphins': 1, 'New England Patriots': 2, 'New York Jets': 3, 'Pittsburgh Steelers': 4, 'Cleveland Browns': 5, 'Baltimore Ravens': 6, 'Cincinnati Bengals': 7, 'Tennessee Titans': 8, 'Indianapolis Colts': 9, 'Houston Texans': 10, 'Jacksonville Jaguars': 11, 'Kansas City Chiefs': 12, 'Las Vegas Raiders': 13, 'Denver Broncos': 14, 'Los Angeles Chargers': 15, 'Washington Football Team': 16, 'New York Giants': 17, 'Philadelphia Eagles': 18, 'Dallas Cowboys': 19, 'Green Bay Packers': 20, 'Minnesota Vikings': 21, 'Chicago Bears': 22, 'Detroit Lions': 23, 'New Orleans Saints': 24, 'Tampa Bay Buccaneers': 25, 'Atlanta Falcons': 26, 'Carolina Panthers': 27, 'Seattle Seahawks': 28, 'Los Angeles Rams': 29, 'Arizona Cardinals': 30, 'San Francisco 49ers': 31, 'Washington Redskins': 16, 'Oakland Raiders': 13, 'San Diego Chargers': 15, 'St. Louis Rams': 29}

In [100]:
season_team_stats = None
for year in range(2002, 2021):
    afc = pd.read_csv(str(year)+'/AFC.csv')
    afc = afc[~afc['Tm'].str.contains('AFC')]

    nfc = pd.read_csv(str(year)+'/NFC.csv')
    nfc = nfc[~nfc['Tm'].str.contains('NFC')]
    
    teams = afc.append(nfc)
    teams['Tm'] = teams['Tm'].apply(lambda s: s.rstrip('*+ '))
    teams.insert(0, 'team_id', [team_to_index[team] for team in teams['Tm']])
    teams.insert(1, 'year', year)
    teams = teams.rename(columns={'W': 'wins', "L": "losses", "T": "ties", "PF": "points_for",
                          "PA": "points_against", "SoS": "strength_of_schedule"})
    if 'ties' not in teams.columns:
        teams['ties'] = 0
        
    teams = teams[['team_id', 'year', 'wins', 'losses', 'ties', 'points_for', 'points_against', 'strength_of_schedule']]
    
    if season_team_stats is None:
        season_team_stats = teams
    else:
        season_team_stats = season_team_stats.append(teams)
        
season_team_stats = season_team_stats.reset_index()
print(season_team_stats)

     index  team_id  year  wins  losses  ties  points_for  points_against  \
0        1        3  2002   9.0     7.0   0.0       359.0           336.0
1        2        2  2002   9.0     7.0   0.0       381.0           346.0
2        3        1  2002   9.0     7.0   0.0       378.0           301.0
3        4        0  2002   8.0     8.0   0.0       379.0           397.0
4        6        4  2002  10.0     5.0   1.0       390.0           345.0
..     ...      ...   ...   ...     ...   ...         ...             ...
603     14       27  2020   4.0     8.0   0.0       280.0           300.0
604     16       28  2020   8.0     3.0   0.0       341.0           304.0
605     17       29  2020   7.0     4.0   0.0       263.0           215.0
606     18       30  2020   6.0     5.0   0.0       304.0           258.0
607     19       31  2020   5.0     6.0   0.0       261.0           254.0

     strength_of_schedule
0                     1.7
1                     1.8
2                     1.2
3                     0.9
4                    -0.1
..                    ...
603                   2.4
604                   0.0
605                  -0.3
606                  -1.9
607                   0.9

[608 rows x 9 columns]

In [101]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://admin:jntpjijh@35.230.82.92:13601/dummy')

In [102]:
YEAR_START = 2002
YEAR_END = 2021

In [103]:
team_map = {"ARI": "Arizona Cardinals", 
            "ATL": "Atlanta Falcons", 
            "BAL": "Baltimore Ravens", 
            "BUF": "Buffalo Bills", 
            "CAR": "Carolina Panthers", 
            "CHI": "Chicago Bears", 
            "CIN": "Cincinnati Bengals", 
            "CLE": "Cleveland Browns", 
            "DAL": "Dallas Cowboys", 
            "DEN": "Denver Broncos", 
            "DET": "Detroit Lions", 
            "GNB": "Green Bay Packers", 
            "HOU": "Houston Texans", 
            "IND": "Indianapolis Colts", 
            "JAX": "Jacksonville Jaguars", 
            "KAN": "Kansas City Chiefs", 
            "MIA": "Miami Dolphins", 
            "MIN": "Minnesota Vikings", 
            "NOR": "New Orleans Saints", 
            "NWE": "New England Patriots", 
            "NYJ": "New York Jets", 
            "OAK": "Oakland Raiders", 
            "PHI": "Philadelphia Eagles", 
            "PIT": "Pittsburgh Steelers", 
            "SDG": "San Diego Chargers", 
            "SEA": "Seattle Seahawks", 
            "SFO": "San Francisco 49ers", 
            "STL": "St. Louis Rams",
            "TAM": "Tampa Bay Buccaneers", 
            "TEN": "Tennessee Titans", 
            "WAS": "Washington Football Team", 
            "LAR": "Los Angeles Rams", 
            "LVR": "Las Vegas Raiders", 
            "LAC": "Los Angeles Chargers"}

In [104]:
import math
player_season_id = 0
found_players = {}
player_positions = {}
players_df = pd.DataFrame(columns = ['player_season_id', 'player_name', 'year', 'team_id', 'position'])
passing_df = pd.DataFrame(columns = ['player_season_id', 'games_started', 'wins', 'losses',
                                     'ties', 'completions', 'attempts', 'yards', 'touchdowns', 'interceptions'])
rushing_df = pd.DataFrame(columns = ['player_season_id', 'games', 'games_started', 'attempts',
                                     'yards', 'touchdowns', 'fumbles'])
receiving_df = pd.DataFrame(columns = ['player_season_id', 'games', 'games_started', 'targets', 'receptions',
                                       'yards', 'touchdowns', 'fumbles'])
defense_df = pd.DataFrame(columns = ['player_season_id', 'games', 'games_started', 'interceptions', 
                                     'interception_yards', 'interception_touchdowns', 
                                     'fumbles_forced', 'fumbles_recovered', 'fumble_yards', 'fumble_touchdowns',
                                     'sacks', 'solo_tackles', 'assisted_tackles', 'tackles_for_loss'])
for year in range(YEAR_START, YEAR_END):
    df = pd.read_csv(str(year)+"/passing.csv")
    df['Player'] = df['Player'].apply(lambda s: s.rstrip('*+ '))
    df['Tm'].replace(team_map, inplace = True)
    df['Tm'].replace(team_to_index, inplace = True)
    df['Pos'] = df['Pos'].str.upper()
    for i, row in df.iterrows():
        if row['Tm'] == '2TM' or row['Tm'] == '3TM':
            continue
            # our source data does not give us enough info to back into the per-team data
            # in the case where a player has played on multiple teams in one season
        player_tuple = (row['Player'], year, row['Tm'])
        if player_tuple not in found_players:
            found_players[player_tuple] = player_season_id
            player_positions[player_tuple] = row['Pos']
            player_season_id += 1
        elif pd.notna(row['Pos']):
            player_positions[player_tuple] = str(player_positions[player_tuple]) + "," + row['Pos']
        wins, losses, ties = row['QBrec'].split('-') if pd.notna(row['QBrec']) else [0, 0, 0]
        passer_series = pd.Series([found_players[player_tuple],
                                 row['GS'],
                                 wins,
                                 losses,
                                 ties,
                                 row['Cmp'],
                                 row['Att'],
                                 row['Yds'],
                                 row['TD'],
                                 row['Int']], index = passing_df.columns)
        passing_df = passing_df.append(passer_series, ignore_index=True)
        
    df = pd.read_csv(str(year)+"/rushing.csv", skiprows = 2)
    df['Player'] = df['Player'].apply(lambda s: s.rstrip('*+ '))
    df['Tm'].replace(team_map, inplace = True)
    df['Tm'].replace(team_to_index, inplace = True)
    df['Pos'] = df['Pos'].str.upper()
    for i, row in df.iterrows():
        if row['Tm'] == '2TM' or row['Tm'] == '3TM':
            continue
            # our source data does not give us enough info to back into the per-team data
            # in the case where a player has played on multiple teams in one season
            
        if row['Player'] == 'Player':
            continue
            # weird data formatting issue
            
        player_tuple = (row['Player'], year, row['Tm'])
        if player_tuple not in found_players:
            found_players[player_tuple] = player_season_id
            player_positions[player_tuple] = row['Pos']
            player_season_id += 1
        elif pd.notna(row['Pos']):
            player_positions[player_tuple] = str(player_positions[player_tuple]) + "," + row['Pos']

        rusher_series = pd.Series([found_players[player_tuple],
                                   row['G'],
                                   row['GS'],
                                   row['Att'],
                                   row['Yds'],
                                   row['TD'],
                                   row['Fmb']], index = rushing_df.columns)
        rushing_df = rushing_df.append(rusher_series, ignore_index=True)
        
    df = pd.read_csv(str(year)+"/receiving.csv")
    df['Player'] = df['Player'].apply(lambda s: s.rstrip('*+ '))
    df['Tm'].replace(team_map, inplace = True)
    df['Tm'].replace(team_to_index, inplace = True)
    df['Pos'] = df['Pos'].str.upper()
    for i, row in df.iterrows():
        if row['Tm'] == '2TM' or row['Tm'] == '3TM':
            continue
            # our source data does not give us enough info to back into the per-team data
            # in the case where a player has played on multiple teams in one season
            
        if row['Player'] == 'Player':
            continue
            # weird data formatting issue
            
        player_tuple = (row['Player'], year, row['Tm'])
        if player_tuple not in found_players:
            found_players[player_tuple] = player_season_id
            player_positions[player_tuple] = row['Pos']
            player_season_id += 1
        elif pd.notna(row['Pos']):
            player_positions[player_tuple] = str(player_positions[player_tuple]) + "," + row['Pos']

        receiving_series = pd.Series([found_players[player_tuple],
                                   row['G'],
                                   row['GS'],
                                   row['Tgt'],
                                   row['Rec'],
                                   row['Yds'],
                                   row['TD'],
                                   row['Fmb']], index = receiving_df.columns)
        receiving_df = receiving_df.append(receiving_series, ignore_index=True)
        
    df = pd.read_csv(str(year)+"/defense.csv", skiprows = 2)
    df['Player'] = df['Player'].apply(lambda s: s.rstrip('*+ '))
    df['Tm'].replace(team_map, inplace = True)
    df['Tm'].replace(team_to_index, inplace = True)
    df['Pos'] = df['Pos'].str.upper()
    for i, row in df.iterrows():
        if row['Tm'] == '2TM' or row['Tm'] == '3TM':
            continue
            # our source data does not give us enough info to back into the per-team data
            # in the case where a player has played on multiple teams in one season
            
        if row['Player'] == 'Player':
            continue
            # weird data formatting issue
            
        player_tuple = (row['Player'], year, row['Tm'])
        if player_tuple not in found_players:
            found_players[player_tuple] = player_season_id
            player_positions[player_tuple] = row['Pos']
            player_season_id += 1
        elif pd.notna(row['Pos']):
            player_positions[player_tuple] = str(player_positions[player_tuple]) + "," + row['Pos']

        defense_series = pd.Series([found_players[player_tuple],
                                      row['G'],
                                      row['GS'],
                                      row['Int'],
                                      row['Yds'],
                                      row['TD'],
                                      row['FF'],
                                      row['FR'],
                                      row['Yds.1'],
                                      row['TD.1'],
                                      row['Sk'],
                                      row['Solo'],
                                      row['Ast'],
                                      row['TFL']], index = defense_df.columns)
        defense_df = defense_df.append(defense_series, ignore_index=True)
        

for player_tuple in found_players:
    plr_series = pd.Series([found_players[player_tuple],
                            player_tuple[0],
                            player_tuple[1],
                            player_tuple[2],
                            player_positions[player_tuple]], index = players_df.columns)
    players_df = players_df.append(plr_series, ignore_index=True)

In [105]:
import numpy as np
import re
players_df.fillna('', inplace=True)

players_df['position'] = players_df['position'].apply(lambda s: 
                                                      ",".join(
                                                          filter(None, set(str.split(s.replace("/", ","), ",")))))
players_df.position.unique()

array(['QB', '', 'WR', 'RB', 'TE', 'FB', 'MLB', 'LCB', 'RT', 'LG', 'FS',
       'C', 'LLB', 'LILB', 'SS', 'RLB', 'RILB', 'RCB', 'ROLB', 'RDE',
       'LDE', 'NT', 'RDT', 'LDT', 'LOLB', 'CB', 'RG', 'LT', 'DB', 'ILB',
       'DE', 'DT', 'LB', 'RDT,RDE', 'OLB', 'S', 'B', 'T', 'FB,TE', 'IL',
       'LILB,IL', 'MLB,ML', 'RILB,IL', 'CB,LCB', 'FS,SS', 'DB,CB',
       'CB,RCB', 'LILB,ML', 'DE,RDE', 'LOLB,DE', 'RDT,DT', 'LDT,DT',
       'DT,RDE', 'LDT,NT', 'DB,FS', 'DB,SS', 'RLB,IL', 'DE,LDE', 'RDT,DE',
       'DT,LDE', 'NT,RDT', 'LOLB,DT', 'K', 'T,RT', 'P', 'C,RG', 'LG,G',
       'RG,G', 'LT,T', 'LG,T', 'G'], dtype=object)

In [106]:
passing_df

,player_season_id,games_started,wins,losses,ties,completions,attempts,yards,touchdowns,interceptions
0,0,16,11,5,0,418,618,4689,26,10
1,1,16,8,8,0,375,610,4359,24,15
2,2,16,9,7,0,373,601,3764,28,14
3,3,16,10,6,0,392,591,4200,27,19
4,4,16,12,4,0,341,551,3658,27,16
...,...,...,...,...,...,...,...,...,...,...
1857,27625,0,0,0,0,1,1,4,0,0
1858,27626,10,0,0,0,1,1,28,0,0
1859,27627,0,0,0,0,1,1,13,0,0
1860,27628,0,0,0,0,1,1,11,1,0
1861,27629,0,0,0,0,1,1,7,0,0

In [107]:
rushing_df

     player_season_id games games_started attempts yards touchdowns fumbles
0                 106    16            16      383  1853         16       7
1                 107    16            16      372  1683         14       3
2                 108    16            16      343  1165         12       1
3                 109    16            16      325  1438         13      11
4                 110    15            15      325  1388         13       4
...               ...   ...           ...      ...   ...        ...     ...
5912            27869     6             5        1     3          0       1
5913            27870     8             2        1     0          0       0
5914            27871     4             0        1     5          0       1
5915            27872    10             7        1     1          0       0
5916            27873    11             2        1     0          0       0

[5917 rows x 7 columns]

In [108]:
receiving_df

,player_season_id,games,games_started,targets,receptions,yards,touchdowns,fumbles
0,273,16,16,205,143,1722,11,0
1,195,16,16,160,112,1329,12,1
2,70,16,16,185,106,1347,7,1
3,310,16,15,180,100,1292,10,1
4,219,14,14,159,100,1300,13,0
...,...,...,...,...,...,...,...,...
8273,27868,3,0,1,1,27,0,0
8274,27870,8,2,2,1,5,0,0
8275,28086,2,0,1,1,4,0,1
8276,27751,5,0,1,1,13,0,0
8277,27734,3,0,4,1,22,1,1

In [109]:
defense_df

,player_season_id,games,games_started,interceptions,interception_yards,interception_touchdowns,fumbles_forced,fumbles_recovered,fumble_yards,fumble_touchdowns,sacks,solo_tackles,assisted_tackles,tackles_for_loss
0,103,16,16,1,0,0,2,2,43,0,4.5,117,36,19
1,496,16,16,2,24,0,1,2,0,0,0.0,111,29,2
2,497,16,16,0,0,0,1,0,0,0,0.0,107,36,8
3,498,16,16,0,0,0,NaN,NaN,NaN,NaN,3.0,105,39,13
4,499,16,16,3,96,0,NaN,NaN,NaN,NaN,0.0,104,33,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24228,27872,10,7,NaN,NaN,NaN,0,1,0,0,0.0,NaN,NaN,NaN
24229,27693,7,1,NaN,NaN,NaN,0,1,0,0,0.0,NaN,NaN,NaN
24230,28015,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,1,0
24231,29082,10,10,NaN,NaN,NaN,0,1,0,0,0.0,NaN,NaN,NaN
24232,27734,3,0,NaN,NaN,NaN,0,1,0,0,0.0,NaN,NaN,NaN

In [110]:
teams.to_sql("teams", engine, if_exists='append', chunksize=1000)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "index" of relation "teams" does not exist
LINE 1: INSERT INTO teams (index, team_id, year, wins, losses, ties,...
                           ^

[SQL: INSERT INTO teams (index, team_id, year, wins, losses, ties, points_for, points_against, strength_of_schedule) VALUES (%(index)s, %(team_id)s, %(year)s, %(wins)s, %(losses)s, %(ties)s, %(points_for)s, %(points_against)s, %(strength_of_schedule)s)]
[parameters: ({'index': 1, 'team_id': 0, 'year': 2020, 'wins': 8.0, 'losses': 3.0, 'ties': 0.0, 'points_for': 299.0, 'points_against': 282.0, 'strength_of_schedule': -0.6}, {'index': 2, 'team_id': 1, 'year': 2020, 'wins': 7.0, 'losses': 4.0, 'ties': 0.0, 'points_for': 284.0, 'points_against': 205.0, 'strength_of_schedule': -3.1}, {'index': 3, 'team_id': 2, 'year': 2020, 'wins': 5.0, 'losses': 6.0, 'ties': 0.0, 'points_for': 229.0, 'points_against': 255.0, 'strength_of_schedule': 0.6}, {'index': 4, 'team_id': 3, 'year': 2020, 'wins': 0.0, 'losses': 11.0, 'ties': 0.0, 'points_for': 152.0, 'points_against': 322.0, 'strength_of_schedule': 1.4}, {'index': 6, 'team_id': 4, 'year': 2020, 'wins': 11.0, 'losses': 0.0, 'ties': 0.0, 'points_for': 317.0, 'points_against': 188.0, 'strength_of_schedule': -2.5}, {'index': 7, 'team_id': 5, 'year': 2020, 'wins': 8.0, 'losses': 3.0, 'ties': 0.0, 'points_for': 265.0, 'points_against': 286.0, 'strength_of_schedule': -2.0}, {'index': 8, 'team_id': 6, 'year': 2020, 'wins': 6.0, 'losses': 5.0, 'ties': 0.0, 'points_for': 282.0, 'points_against': 214.0, 'strength_of_schedule': 1.1}, {'index': 9, 'team_id': 7, 'year': 2020, 'wins': 2.0, 'losses': 8.0, 'ties': 1.0, 'points_for': 230.0, 'points_against': 289.0, 'strength_of_schedule': -0.7}  ... displaying 10 of 32 total bound parameter sets ...  {'index': 18, 'team_id': 30, 'year': 2020, 'wins': 6.0, 'losses': 5.0, 'ties': 0.0, 'points_for': 304.0, 'points_against': 258.0, 'strength_of_schedule': -1.9}, {'index': 19, 'team_id': 31, 'year': 2020, 'wins': 5.0, 'losses': 6.0, 'ties': 0.0, 'points_for': 261.0, 'points_against': 254.0, 'strength_of_schedule': 0.9})]
(Background on this error at: http://sqlalche.me/e/13/f405)